/* :root {
  --primary: #ff4d30;
  --error: #e7195a;
}
body {
  background: #fff;
  margin: 0;
  font-family: "Poppins";
} */
/* .pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
} */
/* new workout form  */
label,
input {
  display: block;
}
form input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form h3 {
  text-align: center;
  font-size: 21px;
  margin-top: 6px;
  margin-bottom: 30px;
  font-weight: 600;
}
.login {
  margin-top: 10px;
  margin-bottom: 10px;
}
form button 
  /* background: var(--primary); */
  /* border: 0;
  color: #fff;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  width: 25rem;
  height: 35px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}
form .login{
  background-color: #ff4d30;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
} */
/* /auth forms */
form.login {
  border: 1px solid #d5d5d5;
  border-right: 2px solid #d5d5d5;
  border-bottom: 3px solid #d5d5d5;
  max-width: 480px;
  margin: 70px auto;
  margin-bottom: 50px;
  padding: 20px 40px;
  background: #ffffff;
  border-radius: 4px;
}
form p {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.signupwith {
  margin: 5px;
  border-color: black;
}
.icon {
  font-size: 20px;
  margin-right: 1px;
  margin-top: 6px;
}
.google {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.google .icon {
  font-size: 16px;
  margin-top: 8px;
}
.gooogle {
  height: 28px;
  margin-top: 2px;
}
form button .google {
  background-color: white;
  border: 1px solid black;
}
