.homeContainer {
  padding: 18px 20px;
  display: flex;
  background-color: #f0f2f5;
  grid-gap: 2rem;
  display: grid;
  gap: 40px;
  grid-template-columns: 14fr 22fr 15fr;
  justify-content: center;
  text-align: center;
}

