.mainContainer {
  /* border: 1px solid gray; */
  padding: 20px 0px;
  width: 98%;
  margin-bottom: 40px;
}
.upper {
  display: flex;
  margin-top: 12px;
}
.upper input {
  padding: 0px 13px;
  margin: 5px 14px;
  border-radius: 48px;
  font-size: 17px;
  height: 38px;
  width: 99%;
  margin-right: 4px;
  background-color: #f0f2f5;
  border: none;
}
.middle {
  display: flex;
  margin: 4.1rem auto;
  width: 33rem;
  height: auto;
  margin-left: 26rem;
  position: static;
}
.middleUpper {
  /* border: 1px solid gray; */
  padding: 0px 12px;
  padding-top: 1px;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 4px 8px 0 rgba(98, 97, 97, 0.2),
    0 6px 20px 0 rgba(231, 229, 229, 0.19);
}
.ImgContainer {
  width: 46px;
  height: 48px;
  cursor: pointer;
  border-radius: 50px;
}
hr {
  margin: 16px 7px;
  width: 96%;
  margin-left: 8px;
  color: #f0f2f5;
  opacity: 0.3;
}
.PostIcon {
  display: flex;
  margin: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
}
.activity {
  display: flex;
}
.icon {
  font-size: 25px;
  cursor: pointer;
}
.activity p {
  margin: 0px 8px;
  margin-right: 0px;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  cursor: pointer;
}
button {
  margin: 21px 0px;
  margin-top: 18px;
  width: 98%;
  height: 34px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #0866ff;
  margin-bottom: 26px;
}
.videoLive {
  color: red;
}
.photos {
  color: rgb(5, 146, 2);
}
.smiley {
  color: rgb(255, 162, 0);
}
.preview {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 2px 0px;
  border-radius: 4px;
  margin-top: 13px;
  border-radius: 4px;
}
