.right {
  display: flex;
  justify-content: end;
  /* margin-right: 4px; */
}
.RightCotainer {
  height: 100%;
  padding: 18px 20px;
  padding-right: 0px;
}
.frindReq {
  height: 41%;
  border-radius: 6px;
  border-bottom: 2px solid rgb(178, 175, 175);
  margin-bottom: 42px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 8px;
}
.req{
  margin-bottom: 20px;
  margin-top: 12px;
  margin-bottom: 15px;
}
.heding {
  display: flex;
  gap: 90px;
  margin-bottom: 14px;
  margin-top: 2px;
  color: gray;
}
p.request {
  font-size: 19px;
  font-weight: 600;
  margin-top: 2px;
}
.see {
  font-size: 16px;
  margin-top: 6px;
  font-weight: 400;
  color: #0866ff;
}
.userreq {
  display: flex;
  margin-top: 8px;
  gap: 14px;
}
.userreq img {
  width: 47px;
  border-radius: 50%;
  height: 47px;
  margin-left: 4px;
}
.user {
  font-size: 17px;
  font-weight: 600;
  margin: 0px;
  text-align: left;
}
.mutual {
  text-align: left;
  margin: 0px;
  font-size: 15px;
  color: gray;
}
.btns {
  display: flex;
  margin:  0px;
  margin-left: 72px;
  gap: 12px;
}
.crnfm {
  margin: 21px 0px;
  margin-top: 9px;
  height: 33px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  background-color: #0866ff;
  border: none;
  cursor: pointer;
}
.delt {
  margin: 21px 0px;
  margin-top: 9px;
  height: 33px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  background-color: #d6d8dd;
  cursor: pointer;
  color: black;
}
.findFreind {
  height: 48%;
  margin-top: 56px;
  padding-left: 4px;
}
.head {
  display: flex;
  gap: 142px;
  margin-bottom: 14px;
  color: gray;
}
p.find {
  font-size: 19px;
  font-weight: 600;
  margin-top: 2px;
}
.searchFrend {
  font-size: 22px;
  margin-top: 6px;
  font-weight: 400;
  color: gray;
}
.profileFrd {
  display: flex;
  margin-top: 5px;
}
.profileFrd img {
  width: 45px;
  border-radius: 50%;
  height: 45px;
  margin-left: 4px;
}
.userName {
  font-size: 17px;
  font-weight: 600;
  margin: 9px 13px;
  text-align: left;
}
.friendInfo {
  margin: 1px;
  margin-bottom: 25px;
}
