.signupContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 120px 0px;
}
.signup {
  display: block;
  width: 34%;
  box-shadow: 0 4px 8px 0 rgba(88, 88, 88, 0.2),
    0 6px 20px 0 rgba(231, 229, 229, 0.19);
  display: block;
  padding-top: 10px;
  border-radius: 7px;
  padding: 46px;
  padding-top: 12px;
  padding-bottom: 15px;
}
form h3 {
  text-align: center;
  font-size: 26px;
  margin-top: 8px;
  margin-bottom: 30px;
  font-weight: 700;
}
form label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #545353;
}
form.signup input {
  padding: 8px 11px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
  font-size: 17px;
}
.genderType {
  display: flex;
  border: 1px solid gray;
  padding: 8px 11px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
  font-size: 17px;
}
.genderType label {
  color: black;
  font-size: 15px;
}
form.signup input.radio {
  font-size: 0px;
  height: 14px;
  margin: 5px 0px;
  margin-left: 0px;
  margin-right: 25px;
}
.female {
  display: flex;
  gap: 20px;
  margin-right: 64px;
  margin-left: 50px;
  padding-left: 10px;
}
.female input.radio {
  font-size: 0;
  height: 15px;
}
.signBtn {
  height: 40px;
  border-radius: 5px;
  width: 175px;
  font-size: 16px;
  font-weight: 600;
  background-color: #00a400;
  color: white;
  border: none;
}
